.summary {
    opacity: 0.3;
    gap: 64px;
    margin-top: 316px;

    @media (max-width: 920px) {
        margin-top: 140px;
        gap: 16px;
    }

    .textContainer {
        max-width: 1425px;
        text-align: center;

        p {
            display: inline;
            font-weight: 400;
            font-size: 100px;
            line-height: 90%;
            letter-spacing: -0.03em;
            color: var(--white);
            white-space: normal;
            word-wrap: break-word;
            margin: 0;
            padding: 0;
        }

        .emphasized {
            font-family: 'Panama';
        }

        @media (max-width: 1530px) {
            max-width: 1000px;

            p {
                font-size: 70px;
            }
        }

        @media (max-width: 920px) {
            p {
                font-size: 36px;
            }
        }
    }
}

.title {
    width: 256px;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--white);
    border-radius: 32px;
    color: var(--white);
    opacity: 0.3;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.02em;
    font-weight: 400;

    @media (max-width: 768px) {
        width: 113px;
        height: 42px;
        border: 1.5px solid var(--white);
        border-radius: 16px;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: -0.01em;
    }
}
